@model List<HsMS.Models.Student>
@{
    ViewBag.Title = "Students";
    int i = 1;
}

<div>
    <h1>List Of Students </h1>
    <a href="@Url.Action("Create","Home")">Crete a New  Student </a>
    </div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#SL</th>
            <th>Name</th>
            <th>Address</th>
            <th>Date Of Admission</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success">
            
            @foreach (var student in Model)
            {
                <td>@i</td>
                <td>@student.Name</td>
                <td>@student.Address</td>
                <td>@student.AdmissionDate</td>
                <td>@student.studentClasses.Select(x=>x.Name)</td>

                @(i++ )
            }
        </tr>
    </tbody>
</table>