@model List<HsMS.Models.Student>
@{
    ViewBag.Title = "Students";
    int i = 1;
}

<div>


</div>
<div class="form-group row">
    <h1 class="col-sm-8">List Of Students </h1>
    <div class="col-sm-4" style="padding-top:22px">
        <a class="" href="@Url.Action("Create", "Home")">Crete a New  Student </a>
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#SL</th>
            <th>Name</th>
            <th>Address</th>
            <th>Date Of Admission</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>


        @{ foreach (var student in Model)
            {
                <tr class="success">
                    <td>@i</td>
                    <td>@student.Name</td>
                    <td>@student.Address</td>
                    <td>@student.AdmissionDate</td>
                    <td>@student.StudentClass.Name</td>
                </tr>
                i++;
            }
        }

    </tbody>
</table>
